In [11]:
%load_ext cypher

The cypher extension is already loaded. To reload it, use:
  %reload_ext cypher

In [12]:
%cypher MATCH (a)-[]-(b) RETURN a, b

8 rows affected.

[[{u'name': u'Morpheus'}, {u'name': u'Neo'}],
 [{u'name': u'Trinity'}, {u'name': u'Neo'}],
 [{u'name': u'Neo'}, {u'name': u'Morpheus'}],
 [{u'name': u'Neo'}, {u'name': u'Trinity'}],
 [{u'name': u'Morpheus'}, {u'name': u'Neo'}],
 [{u'name': u'Trinity'}, {u'name': u'Neo'}],
 [{u'name': u'Neo'}, {u'name': u'Morpheus'}],
 [{u'name': u'Neo'}, {u'name': u'Trinity'}]]

In [3]:
%%cypher
create
    // Nodes
    (Neo:Crew {name:'Neo'}),
    (Morpheus:Crew {name: 'Morpheus'}),
    (Trinity:Crew {name: 'Trinity'}),
    // Relationships
    (Neo)-[:KNOWS]->(Morpheus),
    (Neo)-[:LOVES]->(Trinity)

3 labels added.
3 nodes created.
3 properties set.
2 relationships created.

[]

In [9]:
results = %cypher MATCH (a)-[R]-(b) RETURN a, R, b
results.get_dataframe()

8 rows affected.

                        a   R                       b
0  {u'name': u'Morpheus'}  {}       {u'name': u'Neo'}
1   {u'name': u'Trinity'}  {}       {u'name': u'Neo'}
2       {u'name': u'Neo'}  {}  {u'name': u'Morpheus'}
3       {u'name': u'Neo'}  {}   {u'name': u'Trinity'}
4  {u'name': u'Morpheus'}  {}       {u'name': u'Neo'}
5   {u'name': u'Trinity'}  {}       {u'name': u'Neo'}
6       {u'name': u'Neo'}  {}  {u'name': u'Morpheus'}
7       {u'name': u'Neo'}  {}   {u'name': u'Trinity'}

In [10]:
results.get_graph()